<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>질문/답변 게시판</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
     <div class="container-fluid">
       <a class="navbar-brand" href="/index">질문-답변 공개게시판</a>       
       <div class="collapse navbar-collapse">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
             <a class="nav-link" href="@{/login}">로그인</a>
          </li>
          <li class="nav-item">
             <a class="nav-link" th:href="@{/join}">회원가입</a>
          </li>
       </ul>
       </div>
     </div>
    </nav> 
	<th:block layout:fragment="content"></th:block>
</nav>
</body>
</html>